<div hlmSidebarWrapper class="min-h-screen">
  <app-sidebar (navSelected)="selectNav($event)"></app-sidebar>

  <main class="flex-1">
    <button hlmSidebarTrigger></button>
    <div *ngIf="activeView === 'POS'">
      <div class="container">
        <div class="left">
          @if (successMessage) {
            <hlm-alert class="border-green-200 bg-green-50 text-green-900 mb-3">
              <h4 hlmAlertTitle>Order Placed</h4>

              <p hlmAlertDescription>{{ successMessage }}</p>
            </hlm-alert>
          }
          <app-menu
            [menuItems]="menuItems"
            [categories]="categories"
            (itemSelected)="addToCart($event)"
          ></app-menu>
        </div>

        <div class="right">
          <div class="customer-details">
            @if (errorMessage) {
              <hlm-alert class="mb-3 border-red-200 bg-red-50 text-red-900">
                <h4 hlmAlertTitle>Validation Error</h4>

                <p hlmAlertDescription>
                  {{ errorMessage }}
                </p>
              </hlm-alert>
            }
            <div class="customer-section">
              <app-customer
                [customerName]="customerName"
                [customerPhone]="customerPhone"
                [customerEmail]="customerEmail"
                [orderType]="orderType"
                [submitted]="submitted"
                (customerChange)="onCustomerChange($event)"
              ></app-customer>
            </div>
          </div>

          <div class="foot-cart shrink-0 mt-5">
            <app-cart [cart]="cart" (cartChange)="cart = $event"></app-cart>
          </div>
          <app-bill
            [cartTotal]="cartTotal"
            [cartLength]="cart.length"
            [errorMessage]="errorMessage"
            [successMessage]="successMessage"
            (checkoutClicked)="checkout()"
          ></app-bill>
        </div>
      </div>
    </div>

    <div *ngIf="activeView === 'orders'" class="w-full p-3">
      <app-orders [orders]="orders"></app-orders>
    </div>
  </main>
</div>
